<!DOCTYPE html>
<html>
    <head>
        <title>Student Performance</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
<body class="bg-stone-200 bg-[url('https://st.depositphotos.com/1005997/1241/v/600/depositphotos_12411781-stock-video-seamless-blue-background-with-flying.jpg')] ">
    <div class="login">
       <h1 class="text-center text-3xl text-white font-bold mt-2">Student Exam Performance Indicator</h1>
   
        <div class="flex justify-center p-2 pt-6 w-full">
            <form action="{{ url_for('predict_datapoint')}}" method="post" class="border border-1 border-stone-400 w-fit px-4 pt-2 rounded bg-violet-100">
                <h1>
                    <legend class="text-3xl text-blue-900 text-center">Student Exam Performance Prediction</legend>
                </h1>
                
                <table class="w-full text-stone-800 text-2xl">
                    <tr class="">
                        <div class="mb-3">
                            <td class="w-1/2">
                                <label class="form-label">Gender</label>
                            </td>
                            <td>
                                <select class="form-control" name="gender" placeholder="Enter you Gender" required>
                                    <option class="placeholder" selected disabled value="">Select your Gender</option>
                                    <option value="male">
                                        Male
                                    </option>
                                    <option value="female">
                                        Female
                                    </option>
                                </select>
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <div class="mb-3">
                            <td>
                                <label class="form-label">Race or Ethnicity</label>
                            </td>
                            <td>
                                <select class="form-control" name="ethnicity" placeholder="Enter you ethnicity" required>
                                    <option class="placeholder" selected disabled value="">Select Ethnicity</option>
                                    <option value="group A">
                                        Group A
                                    </option>
                                    <option value="group B">
                                        Group B
                                    </option>
                                    <option value="group C">
                                        Group C
                                    </option>
                                    <option value="group D">
                                        Group D
                                    </option>
                                    <option value="group E">
                                        Group E
                                    </option>
                                </select>
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <div class="mb-3">
                            <td>
                                <label class="form-label">Parental Level of Education</label>
                            </td>
                            <td>
                                <select class="form-control" name="parental_level_of_education"
                                    placeholder="Enter you Parent Education" required>
                                    <option class="placeholder" selected disabled value="">Select Parent Education</option>
                                    <option value="associate's degree">
                                        associate's degree
                                    </option>
                                    <option value="bachelor's degree">
                                        bachelor's degree
                                    </option>
                                    <option value="high school">
                                        high school
                                    </option>
                                    <option value="master's degree">
                                        master's degree
                                    </option>
                                    <option value="some college">
                                        some college
                                    </option>
                                    <option value="some high school">
                                        some high school
                                    </option>
                                </select>
                            </td>
                        </div>
                    </tr>
                
                    <tr> 
                        <div class="mb-3">
                            <td>
                                <label class="form-label">Lunch Type</label>
                            </td>
                            <td>
                                <select class="form-control" name="lunch" placeholder="Enter you Lunch" required>
                                    <option class="placeholder" selected disabled value="">Select Lunch Type</option>
                                    <option value="free/reduced">
                                        free/reduced
                                    </option>
                                    <option value="standard">
                                        standard
                                    </option>
                                </select>
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <div class="mb-3">
                            <td>
                                <label class="form-label">Test preparation Course</label>
                            </td>
                            <td>
                                <select class="form-control" name="test_preparation_course" placeholder="Enter you Course"
                                    required>
                                    <option class="placeholder" selected disabled value="">Select Test_course</option>
                                    <option value="none">
                                        None
                                    </option>
                                    <option value="completed">
                                        Completed
                                    </option>
                                </select>
                            </td>
                        </div>
                    </tr>
                    <tr>    
                        <div class="mb-3">
                            <td>
                                <label class="form-label">Writing Score out of 100</label>
                            </td>
                            <td>
                                <input class="form-control w-full" type="number" name="reading_score"
                                    placeholder="Enter your Writing score" min='0' max='100' />
                            </td>
                        </div>
                    </tr>
                    <tr>    
                        <div class="mb-3">
                            <td>
                                <label class="form-label">Reading Score out of 100</label>
                            </td>    
                            <td>
                                <input class="form-control w-full" type="number" name="writing_score"
                                    placeholder="Enter your Reading Score" min='0' max='100' />
                            </td>
                        </div>
                    </tr>    
                </table>
                <div class="mb-3 mt-3 w-full flex justify-center py-2">
                    <input class="btn btn-primary border border-2 rounded px-2 py-1 bg-blue-900 text-white text-xl cursor-pointer" type="submit" value="Predict your Maths Score" required />
                </div>
            </form>
        </div>
    <h2 class="w-full flex justify-center">
        <button class="border-1 px-2 py-1 rounded bg-white text-xl text-stone-800 font-bold border-stone-500">
            The prediction is {{results}}
        </button>
    </h2>
   <body>
</html>